<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find an orphanage | Happy</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logomarca Happy">
                <div class="location animate-up">
                    <strong>Rio do sul</strong>
                    <p>Santa Catarina</p>
                </div>
            </header>
            <main>
                <h1 class="animate-up">Bring happiness to the world</h1>
                <section class="visit">
                    <p class="animate-up">visit orphanages and change many children's day</p>
                    <a class="animate-up" href="/orphanages" title="visit orphanages">
                        <img src="/images/arrow.svg" alt="ir a mapa">
                    </a>
                </section>
            </main>
        </div>
    </div>
</body>

</html>